*{
    margin:0;
    padding:0;

}
body{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.25);
    padding: 1rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
 
  border-bottom:0.25rem solid #17724c;
}



.btn-gral{
    border-radius: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    font-weight:500;
    padding: .5rem 1.5rem;
}

.hero{
    padding-top: 10rem;
    padding-bottom: 2rem;
}

h1.titulo-principal{

    font-size: 3.3rem;
    font-weight: 700;
    color:#383946;
    padding: 2rem 0;
}

.nosotros{
    padding-top: 2rem;
    padding-bottom:2rem ;
}


h4{
    color: #383946;
    font-weight: 700;
    line-height: 2rem;
}

h3{
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 2px;
    padding-top: 3rem;
}

.redes{
    background-color:#127C25;
    
}

.logo-footer{
    padding: 2rem;
}

.footer{
    background-color: #353645;
    color:white;
  
}

.ft{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

 .fab{
    font-size: 2em;
    color: #127C25;
    padding-left: 1rem;
}
.fab, .white{
    color: white;
}
